# Environment Variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Dependencies
node_modules/
.pnpm-store/

# IDEs
.idea/
.vscode/

# Project Specific
*.sqlite3
*.db
backend/static/images/*
!backend/static/images/.gitkeep
assets/
eas.json

# OS Generated
.DS_Store
Thumbs.db
